@model GardenMarket.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Product";
}

<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            @foreach (var item in Model.Product.ProductImages)
            {
                <img src="@item.Path" alt="">
            }
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">

        <a href="cart.html">
            <h2>@Model.Product.Name</h2>
        </a>
        <span>@Model.Product.InStock</span>
        <p class="product-price"><span class="old-price">@Model.Product.Price лв.</span> 7.99 лв.</p>
        <p class="product-desc"> @Model.Product.Description</p>

        <!-- Form -->
        <form class="cart-form clearfix" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">

                <select name="select" id="productColor">
                    @foreach (var item in Model.Colors)
                    {
                        <option value="value">Цвят : @item.Name </option>
                    }
                </select>
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn">Добави в кSоличката</button>
                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->