@model GardenMarket.ViewModel.CatalogViewModel
@{
    ViewData["Title"] = "Shop";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>@Model.SubSubCategory.Name</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Shop Area ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Категория</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">

                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                @foreach (var subCategory in Model.SubCategories)
                                {
                                    <li data-toggle="collapse" data-target="#plants" class="collapsed">
                                        <a href="#">@subCategory.Name</a>
                                        <ul class="sub-menu collapse" id="plants">
                                            @foreach (var subsubcategory in subCategory.SubSubCategories)
                                            {
                                                <li><a href="#">@subsubcategory.Name</a></li>
                                            }

                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Филтрирай</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Цена</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="0" data-max="100" data-unit="" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="00" data-value-max="100" data-label-result="Лева">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">@Model.SubSubCategory.LowestPrice лв - @Model.SubSubCategory.HighestPrice лв</div>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget color mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Цвят</p>
                        <div class="widget-desc">
                            <ul class="d-flex">
                                <li><a href="#" class="color1"></a></li>
                                <li><a href="#" class="color2"></a></li>
                                <li><a href="#" class="color3"></a></li>
                                <li><a href="#" class="color4"></a></li>
                                <li><a href="#" class="color5"></a></li>
                                <li><a href="#" class="color6"></a></li>
                                <li><a href="#" class="color7"></a></li>
                                <li><a href="#" class="color8"></a></li>
                                <li><a href="#" class="color9"></a></li>
                                <li><a href="#" class="color10"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    @foreach (var characteristic in Model.Characteristics)
                    {
                        <div class="widget brands mb-50">

                            <p class="widget-title2 mb-30">@characteristic.Name</p>
                            <div class="widget-desc">
                                @foreach (var type in characteristic.Types)
                                {

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                        <label class="custom-control-label" style="font-size:15px" for="defaultUnchecked">@type.Name</label>
                                    </div>
                                }


                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>@Model.SubSubCategory.Products.Count</span> намерени продукти</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Сортирай:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Популярно</option>
                                            <option value="value">Ново</option>
                                            <option value="value">По-ниска цена</option>
                                            <option value="value">По-висока цена</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        @foreach (var product in Model.SubSubCategory.Products)
                        {

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="@product.ProductImages.FirstOrDefault()?.Path" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="img/product-img/product1-1.jpg" alt="">

                                        <!-- Product Badge -->
                                        @if (product.HasDiscount)
                                        {
                                            <div class="product-badge offer-badge">
                                                <span>-30%</span>
                                            </div>
                                        }
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="@Url.Action("GetById" , "Catalog" , new { product.Id })">
                                            <h6>@product.Name</h6>
                                            <span>Целогодишно</span>
                                        </a>
                                        <p class="product-price">
                                            @if (product.HasDiscount)
                                            {
                                                <span class="old-price">@product.Price лв</span><span>@(product.Price * (product.PrecentDiscount / 100)) лв</span>
                                            }
                                            else
                                            {
                                                <span>@product.Price</span>
                                            }
                                        </p>


                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn">Добави в количка</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <!-- Pagination -->

                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->